@use '../abstract' as *;

.button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    height: 3em;
    width: 8rem;
    border: none;
    border-radius: 4rem;
    font-size: px-to-rem(15);
    font-weight: $font-weight-bold;
    text-align: center;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease;
    transform: 0.3s ease;

    &--white {
        background-color: white;
        color: black;
    }

    &--purple {
        background-color: $color-btn;
        color: white;
    }

    &:hover {
        opacity: 0.9;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }

    &:focus-visible {
        outline: 2px solid black;
        outline-offset: 2px;
    }
}
