@use '../abstract' as *;

.button {
    display: inline-block;
    padding: px-to-rem(16 32);
    min-height: px-to-rem(49);
    min-width: px-to-rem(105);
    border: none;
    border-radius: px-to-rem(64);
    @include font-scale(14);
    font-weight: $font-weight-bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 $color-shadow;
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease;
    transform: 0.3s ease;

    &--primary {
        background-color: $color-button;
        color: $color-white;
    }

    &--secondary {
        background-color: $color-white;
    }

    &--icon-right {
        @include flex-center;
        justify-content: center;
        gap: px-to-rem(24);
    }

    &--icon-left {
        @include flex-center;
        justify-content: center;
        gap: px-to-rem(16);
        padding: px-to-rem(16 32);

        @include responsive-tab {
            gap: px-to-rem(8);
        }
        @include responsive-desktop {
            gap: px-to-rem(8);
        }
    }

    &:hover {
        opacity: 0.9;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }

    @include focus;
}
