@use '../abstract/' as *;

.swiper-slide {
    text-align: center;
    margin-top: px-to-rem(30);
    min-height: px-to-rem(480);

    &__user-info {
        font-weight: $font-weight-bold;
        @include font-scale(28);
        margin-top: px-to-rem(62);
        color: $color-secondary;
    }

    &__profession {
        font-size: px-to-rem(24);
        color: $color-text-secondary;
    }

    &__starscontainer {
        margin-top: px-to-rem(32);
        @include flex-center;
        justify-content: center;
        gap: px-to-rem(18);
    }

    &__star {
        font-size: px-to-rem(28);
        color: $color-shadow;
        &--filled {
            color: $color-icon;
        }
    }

    &__description {
        margin-top: px-to-rem(66);
        padding: px-to-rem(0 20);
        @include text-overflow(3);
    }
}

.swiper-buttons {
    display: flex;
    justify-content: space-between;
    padding: px-to-rem(0 16);
    margin-top: px-to-rem(98);
    margin-bottom: px-to-rem(12);
}
.swiper-pagination {
    position: absolute;
    bottom: px-to-rem(128);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: px-to-rem(24);
    height: px-to-rem(24);
}

.swiper-pagination-bullet {
    min-width: px-to-rem(24);
    min-height: px-to-rem(24);
    margin-bottom: px-to-rem(100);
    background-color: $color-shadow;
    border-radius: 50%;
    @include focus;
}

.button-prev,
.button-next {
    @include button-reset;
    font-size: px-to-rem(16);
    height: px-to-rem(64);
    width: px-to-rem(64);
    background-color: $color-btn;
    border-radius: 50%;
    color: $color-white;
    @include focus;
}
.button-prev:disabled,
.button-next:disabled {
    color: black;
    background-color: $color-white;
    border: 1px solid $color-border;
}
.swiper-pagination-bullet-active {
    background-color: $color-primary;
}

@include responsive-tab {
    .swiper {
        min-height: px-to-rem(560);
    }
    .swiper-slide {
        margin-top: px-to-rem(14);

        &__user-info {
            margin-top: px-to-rem(52);
        }

        &__description {
            margin-top: px-to-rem(56);
            @include font-scale(23, $base: 1.6);
            padding: px-to-rem(0 200);
        }
    }

    .swiper-buttons {
        position: absolute;
        top: px-to-rem(56);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: px-to-rem(0 64);
        z-index: $z-index-overlay;
    }

    .button-prev,
    .button-next {
        font-size: px-to-rem(24);
        height: px-to-rem(100);
        width: px-to-rem(100);
        background-color: $color-btn;
        border-radius: 50%;
        color: $color-white;
    }

    .swiper-pagination {
        position: static;
        margin-top: px-to-rem(24);
    }
}

@include responsive-desktop {
    .swiper {
        min-height: px-to-rem(560);
    }
    .swiper-slide {
        min-height: px-to-rem(470);
        margin-top: px-to-rem(10);
        &__user-info {
            margin-top: px-to-rem(50);
        }

        &__description {
            margin-top: px-to-rem(60);
            @include font-scale(23, $base: 1.6);
            padding: px-to-rem(0 310);
            @include text-overflow(2);
        }
    }

    .swiper-pagination {
        margin-top: px-to-rem(36);
        height: px-to-rem(24);
    }

    .swiper-buttons {
        position: absolute;
        top: px-to-rem(32);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: px-to-rem(0 118);
        z-index: $z-index-overlay;
    }

    .button-prev,
    .button-next {
        font-size: px-to-rem(24);
        height: px-to-rem(100);
        width: px-to-rem(100);
        background-color: $color-btn;
        border-radius: 50%;
        color: $color-white;
    }

    .swiper-pagination {
        position: static;
        margin-top: 0;
    }
}
