@use '../abstract' as *;

.pink-gradient {
    height: px-to-rem(348);
    width: px-to-rem(272);
    // max-height: px-to-rem(0);
    overflow: hidden;
    border-radius: 50%;
    color: black;
    background-color: rgba(255, 87, 34, 1);
    // filter: blur(px-to-rem(335));
    z-index: $z-index-overlay;

    &--nav {
        top: px-to-rem(-36);
        left: px-to-rem(-33);
        position: fixed;
    }

    &--hero {
        position: absolute;
        display: none;
    }
}
