@use '../abstract' as *;
.pink-gradient {
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    width: px-to-rem(272);
    height: px-to-rem(348);
    background: $color-secondary;
    filter: blur(px-to-rem(335));
    overflow: hidden;
    left: px-to-rem(-33);
    z-index: $z-index-nav;
    top: px-to-rem(-154);
}

@include responsive-tab {
    .pink-gradient {
        width: px-to-rem(500);
        height: px-to-rem(500);
        filter: blur(px-to-rem(500));
        left: px-to-rem(-163);
        top: px-to-rem(-292);
    }
}

@include responsive-desktop {
    .pink-gradient {
        width: px-to-rem(504);
        height: px-to-rem(494);
        left: px-to-rem(-60);
        top: px-to-rem(-150);
    }
}
