@use '../abstract/' as *;

.swiper-slide {
    text-align: center;
    margin-top: px-to-rem(30);
    min-height: px-to-rem(480);

    &__user-info {
        font-weight: $font-weight-bold;
        font-size: px-to-rem(28);
        margin-top: px-to-rem(60);
        color: $color-secondary;
    }

    &__profession {
        font-size: px-to-rem(24);
        color: $color-text-secondary;
    }

    &__stars {
        margin-top: px-to-rem(32);
        font-size: px-to-rem(28);
        @include flex-center;
        justify-content: center;
        gap: px-to-rem(18);
        color: $color-text-secondary;

        &--filled {
            color: $color-icon;
        }
    }

    &__description {
        margin-top: px-to-rem(64);
        padding: px-to-rem(0 20);
    }
}

.swiper-buttons {
    font-size: px-to-rem(64);
    display: flex;
    justify-content: space-between;
    padding: px-to-rem(0 16);
    margin-top: px-to-rem(42);
}

.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: px-to-rem(24);
    margin-top: px-to-rem(24);
    height: px-to-rem(24);
}

.swiper-pagination-bullet {
    min-width: px-to-rem(24);
    min-height: px-to-rem(24);
    margin-bottom: px-to-rem(100);
    background-color: $color-shadow;
    border-radius: 50%;
    @include focus;
}

.swiper-pagination-bullet-active {
    background-color: $color-primary;
}

@include responsive-tab {
    .swiper-slide {
        margin-top: px-to-rem(14);

        &__user-info {
            margin-top: px-to-rem(50);
        }

        &__description {
            margin-top: px-to-rem(56);
            @include font-scale(23, $base: 1.6);
            padding: px-to-rem(0 200);
        }
    }

    .swiper-buttons {
        position: absolute;
        top: px-to-rem(100);
        box-sizing: border-box;
        width: 100%;
        font-size: px-to-rem(100);
        display: flex;
        justify-content: space-between;
        padding: px-to-rem(0 64);
        z-index: 2;
    }
}

@include responsive-desktop {
    .swiper-slide {
        margin-top: px-to-rem(10);
        min-height: px-to-rem(100);

        &__user-info {
            margin-top: px-to-rem(50);
        }

        &__description {
            margin-top: px-to-rem(56);
            @include font-scale(23, $base: 1.6);
            padding: px-to-rem(0 310);
        }
    }

    .swiper-pagination {
        margin-top: px-to-rem(36);
        height: px-to-rem(24);
    }

    .swiper-buttons {
        position: absolute;
        top: px-to-rem(76);
        box-sizing: border-box;
        width: 100%;
        font-size: px-to-rem(100);
        display: flex;
        justify-content: space-between;
        padding: px-to-rem(0 124);
        z-index: 2;
    }
}
