$color-primary: #f85e9f;
$color-secondary: #ff5722;
$color-secondary-light: #fcbaa6;
$color-secondary-lighter: #ffe2d9;
$color-btn: #5d50c6;
$color-icon: #facd49;
$bg-color: #fffefd;
$color-white: #fff;
$color-text-primary: #000;
$color-text-secondary: rgba(25, 24, 37, 0.5);
$color-shadow: #f2eff0;
