$color-primary: #f85e9f;
$color-secondary: #ff5722;
$color-accent-primary: #ffdbd0;
$color-accent-secondary: #fef5da;
$color-button: #5d50c6;
$color-icon: #facd49;
$color-background: #fffefd;
$color-white: #fff;
$color-text-primary: #000;
$color-text-secondary: #19182580;
$color-border: #1918251a;
$color-shadow: #0000001a;
