@use 'variables' as *;

//media query for tablet
@mixin responsive-tab {
    @media (min-width: ($breakpoint-md)) and (max-width: ($breakpoint-lg - 1)) {
        @content;
    }
}

//media query for desktop
@mixin responsive-desktop {
    @media (min-width: ($breakpoint-lg)) {
        @content;
    }
}

//media query for tablet and desktop
@mixin responsive-tab-desktop {
    @media (min-width: ($breakpoint-md)) {
        @content;
    }
}

//flex center
@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin focus($width: 5px) {
    &:focus-visible {
        outline: 2px solid black;
        outline-offset: $width;
    }
}
