@use './colors' as *;
@use './variables' as *;

//prevents scrolling when navbar is expanded
.no-scroll {
    overflow: hidden;
}

//containerizes page beyond max viewport width
.wrapper {
    max-width: $breakpoint-container;
    margin: 0 auto;
}

//prevents transitions during resizing window
nav .no-transition {
    transition: none;
}

//adds bg color and shadow on scroll
.scrolled {
    background-color: $color-white;
    box-shadow: 0 0 25px $color-shadow;
}
