@use './colors' as *;
@use './variables' as *;
@use './functions' as *;
@use './mixins' as *;

//prevents scrolling when navbar is expanded
.no-scroll {
    overflow: hidden;
}

//prevents transitions during resizing window
nav .no-transition {
    transition: none;
}

//adds bg color and shadow on scroll
header.scrolled {
    height: fit-content;
    box-sizing: border-box;
    background-color: $color-white;
    box-shadow: 0 0 25px $color-shadow;
}

nav.scrolled {
    padding-top: px-to-rem(16);
    padding-bottom: px-to-rem(16);
}

.section-wrapper {
    text-align: center;
    max-width: px-to-rem(396.28);
    margin: auto;

    @include responsive-tab {
        max-width: px-to-rem(896);
        margin: auto;
    }

    @include responsive-desktop {
        max-width: px-to-rem(1192);
        margin: auto;
    }
}
