//path for icomoon files
$icomoon-path: '../assets/font/icomoon/icomoon';

//path for font files
$font-path: '../assets/font/Roboto-';

//breakpoints for mobile, tablet and desktop views
$breakpoint-sm: 430px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

// variables for font-weight
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

//z-indexes
$z-index-base: 0;
$z-index-nav: 100;
$z-index-overlay: 200;
$z-index-background: -1;
