@use '../abstract/' as *;

.footer {
    position: relative;
    margin-top: px-to-rem(94);
    margin-bottom: px-to-rem(30);
    box-sizing: border-box;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(94);

    &__logo {
        @include focus;
    }

    &__star {
        display: none;
    }

    &__travlog {
        @include flex-center;
        gap: px-to-rem(16);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(30);
    }

    &__heading {
        margin: 0;
        font-size: px-to-rem(24);
        font-weight: $font-weight-black;
    }

    &__text {
        @include font-scale(16, $base: 1.6);
        color: $color-text-secondary;
        margin: 0;
        @include text-overflow(3);
    }

    &__social-container {
        min-height: px-to-rem(32);
        display: flex;
        gap: px-to-rem(32);
    }

    &__social {
        text-decoration: none;
        @include focus;
    }

    &__social-icon {
        font-size: px-to-rem(32);
    }
}

.company-details {
    &__container {
        min-height: px-to-rem(100);
    }

    &__dropdown {
        display: flex;
        justify-content: space-between;
        align-items: start;
        min-height: px-to-rem(28);
    }

    &__heading {
        margin: 0;
        @include font-scale(23);
    }

    &__icon {
        @include button-reset;
        font-size: px-to-rem(24);
        transition: transform 0.3s ease;
        &--expanded {
            transform: rotate(180deg);
        }
        @include focus;
    }

    &__text {
        text-decoration: none;
        color: $color-text-secondary;
        margin: 0;
        padding: px-to-rem(4);
        transition: color 0.3s ease;
        @include text-overflow(2);
        @include font-scale(18, $base: 2);
        @include focus;

        &:hover {
            color: $color-text-primary;
        }
    }

    &__list {
        list-style: none;
        max-height: px-to-rem(0);
        box-sizing: border-box;
        margin: 0;
        visibility: hidden;
        overflow: hidden;
        padding: px-to-rem(0 28);
        transition:
            max-height 0.3s linear,
            visibility 0.3s linear,
            padding 0.3s ease;

        &.active {
            max-height: px-to-rem(220);
            visibility: visible;
            padding: px-to-rem(10 28 20);
        }
    }

    &__list-item {
        width: fit-content;
    }
}

@include responsive-tab {
    .footer {
        margin-top: px-to-rem(60);
        margin-bottom: px-to-rem(60);
        gap: px-to-rem(64);

        &__star {
            display: block;
            position: absolute;
            top: px-to-rem(-950);
            right: px-to-rem(-60);
        }

        &__text {
            @include font-scale(23, $base: 1.6);
        }
    }

    .company-details {
        display: flex;
        width: 100%;
        gap: px-to-rem(160);

        &__icon {
            display: none;
        }

        &__container {
            margin: 0;
            min-width: px-to-rem(150);
            display: flex;
            flex-direction: column;
            gap: px-to-rem(28);
        }

        &__list {
            overflow: visible;
            padding: 0;
            max-height: px-to-rem(500);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: px-to-rem(26);
            visibility: visible;
        }
    }
}

@include responsive-desktop {
    .footer {
        margin-top: px-to-rem(194);
        margin-bottom: px-to-rem(60);
        display: flex;
        gap: px-to-rem(60);
        flex-direction: row;

        &__star {
            display: block;
            position: absolute;
            top: px-to-rem(-300);
            right: px-to-rem(-113);
        }

        &__text {
            @include font-scale(23, $base: 1.6);
        }

        &__social-container {
            margin-top: px-to-rem(30);
        }
    }

    .company-details {
        margin: 0;
        display: flex;
        min-width: px-to-rem(564);

        &__icon {
            display: none;
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: px-to-rem(32);
        }

        &__list {
            overflow: visible;
            min-width: px-to-rem(200);
            padding: 0;
            max-height: px-to-rem(500);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: px-to-rem(26);
            visibility: visible;
        }
    }
}
