@use '../abstract/' as *;

.footer {
    margin: px-to-rem(69 16 0);

    &__travlog {
        display: flex;
        gap: px-to-rem(16);
    }

    &__heading {
        font-size: px-to-rem(24);
        font-weight: $font-weight-black;
    }

    &__details {
        margin-top: 0;
    }

    &__text {
        @include font-scale(16, $base: 1.6);
        color: $color-text-secondary;
        margin-top: px-to-rem(2);
    }

    &__socialcontainer {
        margin-top: px-to-rem(34);
        min-height: px-to-rem(32);
        display: flex;
        gap: px-to-rem(32);
    }

    &__social-icon {
        font-size: px-to-rem(32);
    }
}

.details {
    margin-top: px-to-rem(94);

    &__container {
        margin-top: px-to-rem(70);
        transition: margin-top 0.5s ease;

        &:first-child {
            margin-top: 0;
        }

        &.active {
            margin-top: px-to-rem(120);
        }
    }

    &__dropdown {
        display: flex;
        justify-content: space-between;
        align-items: start;
        min-height: px-to-rem(28);
    }

    &__heading {
        margin: 0;
        @include font-scale(23);
    }

    &__icon {
        font-size: px-to-rem(24);
        transition: transform 0.3s ease;
        &--expanded {
            transform: rotate(-180deg);
        }
    }

    &__text {
        text-decoration: none;
        color: $color-text-secondary;
        @include font-scale(18, $base: 2);
        @include focus;
    }

    &__list {
        list-style: none;
        max-height: px-to-rem(0);
        box-sizing: border-box;
        margin: 0;
        visibility: hidden;
        overflow: hidden;
        transition:
            max-height 0.3s ease-in,
            padding-top 0.3s ease-in;

        &.active {
            max-height: px-to-rem(180);
            padding: px-to-rem(12 28 20);
            visibility: visible;
        }
    }
}

@include responsive-tab {
    .footer {
        margin: px-to-rem(38 90 0 64);

        &__text {
            @include font-scale(23, $base: 1.6);
        }
    }

    .details {
        margin: px-to-rem(64 0);
        display: flex;
        min-width: px-to-rem(900);
        justify-content: space-between;

        &__icon {
            display: none;
        }

        &__container {
            margin: 0;
        }

        &__heading {
            margin-bottom: px-to-rem(28);
        }

        &__list {
            padding: 0;
            max-height: px-to-rem(500);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: px-to-rem(26);
            visibility: visible;
        }
    }
}

@include responsive-desktop {
    .footer {
        margin: px-to-rem(172 100 0 130);
        display: flex;
        min-height: px-to-rem(400);

        &__text {
            @include font-scale(23, $base: 1.6);
        }

        &__socialcontainer {
            margin-top: px-to-rem(68);
        }
    }

    .details {
        margin-top: px-to-rem(30);
        display: flex;
        min-width: px-to-rem(580);
        justify-content: space-between;

        &__icon {
            display: none;
        }

        &__container {
            margin: 0;
        }

        &__heading {
            margin-bottom: px-to-rem(28);
        }

        &__list {
            padding: 0;
            max-height: px-to-rem(500);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: px-to-rem(26);
            visibility: visible;
        }
    }
}
