@use '../components/button';
@use '../abstract/colors';
@use '../abstract/variables';

.hero {
    text-align: center;

    &__arrows {
        display: none;
    }

    &__bg {
        padding: 1.56em 1em;
        width: 100vw;
        box-sizing: border-box;
    }

    &__explorebtn {
        margin-top: 5px;
        @include button.button-setup(white, colors.$secondary, 16px, 250px);

        span {
            margin-left: 15px;
            font-size: 1.2em;
        }
    }
    &__content {
        h1 {
            margin: 1rem 1.5rem;
            font-size: 2.5em;
            font-family: 'Roboto', sans-serif;
            font-weight: variables.$font-weight-bold;
        }
        span {
            color: colors.$secondary;
        }

        p {
            line-height: 1.5em;
            padding: 0 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: variables.$font-weight-normal;
            color: colors.$gray;
        }
    }

    &__buttons {
        font-family: 'Roboto', sans-serif;
        font-weight: variables.$font-weight-bold;

        &--purple {
            margin: 15px 20px;
            @include button.button-setup(colors.$primary, white, 15px, 90vw);
            height: 70px;
        }
        &--white {
            margin: 15px 20px;
            @include button.button-setup(white, black, 15px, 90vw);
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        span {
            margin-right: 15px;
            font-size: 1.5em;
        }
    }

    &__logos {
        margin-top: 55px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
    }

    &__partnerlogo {
        height: 1.3rem;
        margin-bottom: 10px;
    }
}

@media (min-width: variables.$breakpoint-md) {
    .hero {
        &__arrows {
            display: block;
            position: absolute;
            height: 180px;
            left: 2rem;
            top: 79rem;
        }

        &__bg {
            padding: 4em 8em;
            height: 850px;
        }

        &__explorebtn {
            margin-top: 0;
        }

        &__content {
            h1 {
                margin: 1.8rem 4em;
                font-size: 3.5em;
            }

            p {
                margin: 1.4em 13.5em;
                font-size: 1.2em;
            }
        }

        &__buttons {
            max-width: 400px;
            margin: 35px auto;
            display: flex;
            justify-content: center;
            &--purple {
                height: 50px;
            }
            &--white {
                height: 50px;
            }
        }

        &__logos {
            margin: 9rem auto 0;
            height: 200px;
            width: 60%;
        }

        &__partnerlogo {
            height: 2rem;
        }
    }
}
