@use '../components' as *;
@use '../abstract' as *;
@use '../base' as *;

.hero {
    margin-top: px-to-rem(26);

    &__arrows {
        display: none;
    }

    &__gradient {
        pointer-events: none;
        position: absolute;
        border-radius: 50%;
        width: px-to-rem(400);
        height: px-to-rem(400);
        background: $color-accent-primary;
        filter: blur(px-to-rem(85));
        left: px-to-rem(-100);
        z-index: $z-index-background;
        top: px-to-rem(-50);
    }

    &__content {
        @include flex-center;
        flex-direction: column;
        margin-top: px-to-rem(32);
        margin-bottom: px-to-rem(68);
        gap: px-to-rem(16);
    }

    &__header {
        @include flex-center;
        flex-direction: column;
        margin-bottom: px-to-rem(18);
        & > p {
            margin-top: px-to-rem(24);
        }
    }

    &__explorebtn {
        color: $color-primary;
    }

    &__exploreicon {
        font-size: px-to-rem(20);
    }

    &__heading {
        max-width: px-to-rem(340);
        &--primary {
            color: $color-primary;
        }
    }

    &__para {
        @include text-overflow;
    }

    &__actions {
        @include flex-center;
        flex-direction: column;
        height: px-to-rem(158);
        width: 100%;
        flex: 1;
        gap: px-to-rem(28);
        box-sizing: border-box;
    }

    &__buttons {
        width: inherit;
        height: px-to-rem(65);

        &--icon {
            font-size: px-to-rem(24);
        }
    }

    &__logos {
        box-sizing: border-box;
        min-height: px-to-rem(72);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: px-to-rem(27);
    }

    &__partner-logo {
        height: px-to-rem(20);
        & img {
            max-height: 100%;
        }
    }

    &__logolink {
        @include focus(10px);
    }
}

@include responsive-tab {
    .hero {
        position: relative;
        margin-top: 0;

        &__heading {
            max-width: 100%;
        }

        &__para {
            margin-top: 0;
        }

        &__arrows {
            display: block;
            position: absolute;
            height: px-to-rem(175);
            left: px-to-rem(-28);
            top: px-to-rem(1090);
        }

        &__bg {
            margin: px-to-rem(64 62);
        }

        &__gradient {
            width: px-to-rem(642);
            height: px-to-rem(552);
            left: px-to-rem(-200);
            top: px-to-rem(-270);
        }

        &__content {
            justify-content: center;
            align-items: center;
            width: px-to-rem(600);
            margin: 0 auto;
            gap: px-to-rem(43);
        }

        &__header {
            margin-bottom: 0;
            & > p {
                margin-top: 0;
            }
        }

        &__para {
            padding: px-to-rem(0 58);
        }

        &__actions {
            width: auto;
            flex-direction: row;
        }

        &__buttons {
            height: auto;
        }

        &__logos {
            box-sizing: border-box;
            padding: px-to-rem(64 160);
            margin-top: px-to-rem(96);
        }

        &__partner-logo {
            height: px-to-rem(32);
        }
    }
}

@include responsive-desktop {
    .hero {
        position: relative;
        overflow: visible;
        margin-top: 0;

        &__arrows {
            display: block;
            position: absolute;
            left: px-to-rem(-86);
            top: px-to-rem(722);
        }

        &__main {
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
        }

        &__bg {
            margin: px-to-rem(57.9 0);
        }

        &__gradient {
            width: px-to-rem(720);
            height: px-to-rem(720);
            left: px-to-rem(-180);
            top: px-to-rem(-180);
            filter: blur(px-to-rem(70));
        }

        &__content {
            margin: px-to-rem(127.74 0);
            max-width: px-to-rem(420);
            align-items: start;
            text-align: start;
            gap: px-to-rem(48);
        }

        &__explorebtn {
            background-color: transparent;
        }

        &__header {
            & > p {
                margin-top: 0;
            }
        }

        &__heading {
            max-width: 100%;
        }
        &__para {
            margin: 0;
            padding: px-to-rem(0 10);
        }

        &__actions {
            flex-direction: row;
        }

        &__buttons {
            height: auto;
            width: auto;
        }

        &__logos {
            min-height: px-to-rem(159);
            padding: px-to-rem(64 0 62.83);
            gap: px-to-rem(101);
        }

        &__partner-logo {
            height: px-to-rem(32);
        }
    }
}
