@use '../components' as *;
@use '../abstract' as *;
@use '../base' as *;

.hero {
    position: relative;
    text-align: center;
    margin-top: px-to-rem(120);

    &__arrows {
        display: none;
    }

    &__bg {
        position: relative;
        padding: px-to-rem(26 8 0 14);
        box-sizing: border-box;
    }

    &__content {
        margin-top: px-to-rem(18);
    }

    &__explorebtn {
        @include font-scale(14);
        color: $color-primary;
        min-width: px-to-rem(224);
        min-height: px-to-rem(56);
        margin-bottom: px-to-rem(18);
    }

    &__exploreicon {
        margin-left: px-to-rem(24);
        font-size: px-to-rem(20);
    }

    &__heading {
        margin: 0;
        padding: px-to-rem(0 20);
        &--primary {
            color: $color-primary;
            padding: 0;
        }
    }

    &__para {
        margin: px-to-rem(24);
        @include text-overflow;
    }

    &__actions {
        @include flex-center;
        flex-direction: column;
        height: px-to-rem(200);
        width: auto;
        margin-top: px-to-rem(32);
        flex: 1;
        gap: px-to-rem(28);
    }

    &__buttons {
        min-width: px-to-rem(370);
        height: px-to-rem(65);

        &--white {
            @include flex-center;
            justify-content: center;
        }

        &--icon {
            margin-right: px-to-rem(15);
            font-size: px-to-rem(24);
        }
    }

    &__logos {
        box-sizing: border-box;
        min-height: px-to-rem(72);
        margin: px-to-rem(24 36 0 15);
        @include flex-center;
        flex-wrap: wrap;
        justify-content: center;
        gap: px-to-rem(26);
    }

    &__partnerlogo {
        height: px-to-rem(20);

        & img {
            max-height: 100%;
        }
    }

    &__logolink {
        @include focus(10px);
    }
}

@include responsive-tab {
    .hero {
        position: relative;

        &__arrows {
            display: block;
            position: absolute;
            height: px-to-rem(175);
            left: px-to-rem(37);
            top: px-to-rem(1147);
        }

        &__bg {
            padding-top: px-to-rem(56);
            padding-right: 0;
            height: px-to-rem(800);
        }

        &__content {
            width: px-to-rem(600);
            margin: px-to-rem(2) auto;
        }

        &__explorebtn {
            margin: px-to-rem(30 0 44);
        }

        &__heading {
            margin-right: px-to-rem(8);
            letter-spacing: px-to-rem(0.9);
            padding: 0;
        }

        &__para {
            margin-top: px-to-rem(44);
            padding: px-to-rem(0 58);
            letter-spacing: px-to-rem(0.2);
        }

        &__actions {
            height: px-to-rem(60);
            max-width: px-to-rem(400);
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            padding: px-to-rem(0 30);
            margin: px-to-rem(42) auto 0;
            gap: px-to-rem(16);
        }

        &__buttons {
            max-height: px-to-rem(56);
            min-width: px-to-rem(181);

            &:first-child {
                max-height: px-to-rem(49);
                min-width: px-to-rem(141);
            }
        }

        &__logos {
            margin: px-to-rem(154) auto 0;
            height: px-to-rem(100);
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__partnerlogo {
            height: px-to-rem(32);
        }
    }
}

@include responsive-desktop {
    .hero {
        position: relative;
        max-width: $breakpoint-lg;
        margin-top: px-to-rem(160);

        &__arrows {
            display: block;
            position: absolute;
            left: px-to-rem(38);
            top: px-to-rem(707);
        }

        &__main {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        &__bg {
            min-height: px-to-rem(780);
            margin: px-to-rem(18 0 0 0);
        }

        &__content {
            max-width: px-to-rem(410);
            text-align: start;
            margin-top: px-to-rem(112);
            margin-left: px-to-rem(30);
        }

        &__explorebtn {
            background-color: $color-secondary-lighter;
            margin-left: px-to-rem(4);
        }

        &__heading {
            margin: px-to-rem(26 10 45);
            padding: 0;
        }
        &__para {
            margin: 0;
            padding: px-to-rem(0 10);
        }

        &__actions {
            flex-direction: row;
            align-items: start;
            justify-content: start;
            margin-top: px-to-rem(72);
            padding: px-to-rem(0 64 0 8);
            gap: px-to-rem(10);
            min-height: px-to-rem(56);
        }

        &__buttons {
            max-height: px-to-rem(56);
            max-width: px-to-rem(181);

            &:first-child {
                max-height: px-to-rem(49);
                max-width: px-to-rem(141);
            }
        }

        &__logos {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            height: px-to-rem(80);
            margin: px-to-rem(24 118 0 130);
        }

        &__partnerlogo {
            height: px-to-rem(32);
        }
    }
}
