@use '../abstract/' as *;

.features {
    text-align: center;
    margin-top: px-to-rem(90);

    &__heading {
        margin-top: px-to-rem(102);
        margin-bottom: px-to-rem(16);
    }

    &__subheading {
        margin-top: 0;
    }

    &__text {
        margin-top: px-to-rem(32);
        padding: px-to-rem(0 60);
    }

    &__cardcontainer {
        margin-top: px-to-rem(32);
        min-height: px-to-rem(920);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: px-to-rem(8);
    }

    &__card {
        text-align: start;
        border: 1px solid $color-border;
        border-radius: px-to-rem(32);
        box-sizing: border-box;
        min-height: px-to-rem(290);
        margin: px-to-rem(0 48);
        padding: px-to-rem(32 32 0);
        transition:
            box-shadow 0.3s ease,
            transform 0.3s ease;

        &:hover {
            box-shadow: 0 0 25px $color-shadow;
            transform: scale(1.01);
        }
    }
}

.features-card {
    &__icon {
        font-size: px-to-rem(100);
    }

    &__heading {
        margin-top: px-to-rem(36);
        margin-bottom: px-to-rem(0);
        @include font-scale(23);
    }

    &__text {
        margin-top: px-to-rem(8);
    }
}

@include responsive-tab {
    .features {
        margin-top: px-to-rem(130);

        &__heading {
            margin-top: px-to-rem(64);
            margin-bottom: 0;
        }

        &__subheading {
            margin-top: px-to-rem(20);
            margin-bottom: px-to-rem(10);
        }

        &__text {
            word-spacing: px-to-rem(2.5);
            padding: px-to-rem(0 110);
        }

        &__cardcontainer {
            margin-top: px-to-rem(64);
            height: px-to-rem(500);
            gap: px-to-rem(0);
            min-height: px-to-rem(492);
        }

        &__card {
            height: px-to-rem(164);
            margin: px-to-rem(0 96);
            @include flex-center;
            flex-wrap: wrap;
            padding-top: 0;
            min-height: px-to-rem(164);
        }
    }

    .features-card {
        &__content {
            margin-left: px-to-rem(32);
            margin-bottom: px-to-rem(12);
        }
    }
}

@include responsive-desktop {
    .features {
        text-align: start;
        margin-top: px-to-rem(70);
        padding: px-to-rem(16 0 16 124);
        display: flex;
        flex-direction: row-reverse;
        height: px-to-rem(900);
        justify-content: space-between;

        &__content {
            width: px-to-rem(550);
            margin-top: px-to-rem(0);
            padding: px-to-rem(0 20 0 16);
        }

        &__heading {
            margin: 0;
        }

        &__subheading {
            margin-top: px-to-rem(16);
            margin-bottom: px-to-rem(10);
        }

        &__text {
            word-spacing: px-to-rem(2.5);
            padding: 0;
        }

        &__cardcontainer {
            width: px-to-rem(558);
            margin-top: px-to-rem(66);
            gap: 0;
            min-height: px-to-rem(560);
        }

        &__card {
            margin: 0;
            display: flex;
            min-height: px-to-rem(164);
        }
    }

    .features-card {
        &__content {
            margin-left: px-to-rem(32);
            margin-bottom: px-to-rem(20);
        }

        &__heading {
            margin-top: px-to-rem(14);
        }
    }
}
