@use '../abstract/' as *;

.features {
    margin-top: px-to-rem(86);

    &__bg {
        margin-bottom: px-to-rem(100);
    }

    &__text {
        padding: px-to-rem(0 44);
        @include text-overflow(4);
    }

    &__cardcontainer {
        min-height: px-to-rem(870);
        padding: px-to-rem(0 32);
        display: flex;
        flex-direction: column;
        gap: px-to-rem(8);
    }
}

.features-card {
    text-align: start;
    border-radius: px-to-rem(32);
    box-sizing: border-box;
    min-height: px-to-rem(290);
    padding: px-to-rem(32);

    &:hover {
        border: 1px solid $color-border;
    }
    &__icon {
        font-size: px-to-rem(100);
    }

    &__content {
        margin-top: px-to-rem(30);
        display: flex;
        flex-direction: column;
        gap: px-to-rem(8);
    }

    &__heading {
        margin: 0;
        @include font-scale(23);
    }

    &__text {
        margin: 0;
        @include font-scale(18, $base: 1.6);
        @include text-overflow;
    }
}

@include responsive-tab {
    .features {
        margin-top: px-to-rem(130);

        &__bg {
            margin-bottom: px-to-rem(64);
        }

        &__text {
            @include text-overflow(2);
        }

        &__cardcontainer {
            gap: px-to-rem(0);
            min-height: px-to-rem(492);
        }
    }

    .features-card {
        padding: px-to-rem(36 32 26);
        @include flex-center;
        min-height: px-to-rem(164);
        display: flex;
        gap: px-to-rem(32);

        &__content {
            margin: 0;
        }
    }
}

@include responsive-desktop {
    .features {
        margin-top: 0;
        padding: px-to-rem(60 20 40);
        text-align: start;
        min-height: px-to-rem(900);
        justify-content: space-between;
        overflow: hidden;

        &__bg {
            position: absolute;
            right: px-to-rem(-22);
        }

        &__content {
            width: px-to-rem(530);
        }

        &__text {
            padding: 0;
        }

        &__cardcontainer {
            padding: 0;
            gap: 0;
            min-height: px-to-rem(492);
        }
    }

    .features-card {
        @include flex-center;
        gap: px-to-rem(32);
        min-height: px-to-rem(164);
        padding: px-to-rem(36 32 28);
        &__content {
            margin: 0;
        }
    }
}
