@use '../abstract' as *;
@use '../components' as *;
@use '../base' as *;

.navbar {
    position: fixed;
    top: 0;
    height: px-to-rem(120);
    width: 100%;
    box-sizing: border-box;
    padding: px-to-rem(0 15);
    @include flex-center;
    justify-content: space-between;
    max-width: $breakpoint-lg;
    z-index: $z-index-nav;
    background: $bg-color;

    &__logo {
        z-index: $z-index-overlay;
        padding-left: px-to-rem(2);
        @include focus;
    }

    &__home {
        @include focus;
    }

    &__menu {
        z-index: 200;
        @include flex-center;
        height: fit-content;
        font-size: px-to-rem(40);
    }

    &__menu--openicon {
        display: block;
        transition: visibility 0.5 linear;
        &.closed {
            display: none;
        }
    }

    &__menu--closeicon {
        position: relative;
        display: none;
        z-index: 200;
        opacity: 0;
        transition:
            opacity 0.5s ease-in,
            visibility 0.5s linear;
        transition-behavior: allow-discrete;
        font-size: px-to-rem(40);
        position: fixed;
        top: px-to-rem(40);
        right: px-to-rem(20);
        z-index: $z-index-overlay;

        &.active {
            display: block;
            opacity: 1;
        }
    }

    &__links {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $color-secondary-lighter;
        z-index: $z-index-nav;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.5s ease-in,
            visibility 0.3s ease-in;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: px-to-rem(27);
        line-height: px-to-rem(100);
        margin-top: px-to-rem(100);
        margin-left: px-to-rem(44);
    }

    &__item {
        color: $color-text-secondary;
        transition: color 0.5s ease;
        font-weight: $font-weight-bold;
        text-decoration: none;
        overflow-y: auto;
        @include focus;
        &:hover {
            color: $color-text-primary;
        }
    }

    &__actions {
        left: 0;
        position: fixed;
        @include flex-center;
        flex-direction: column;
        gap: px-to-rem(32);
        width: 100%;
        bottom: 10%;
        z-index: $z-index-overlay;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s linear;
        &.active {
            opacity: 1;
            visibility: visible;
            transition-delay: visibility 1s;
        }
    }

    &__btns {
        font-size: px-to-rem(20);
        width: 90vw;
    }
}

@include responsive-tab {
    .navbar {
        padding: px-to-rem(0 45 0 65);
        align-items: center;

        &__logo {
            order: 2;
            padding-left: px-to-rem(190);
        }

        &__list {
            margin-left: px-to-rem(80);
        }

        &__actions {
            position: static;
            flex-direction: row;
            margin: 0;
            gap: px-to-rem(8);
            width: px-to-rem(250);
            height: px-to-rem(50);
            z-index: $z-index-base;
            order: 3;
            opacity: 1;
            visibility: visible;
        }

        &__btns {
            font-size: px-to-rem(18);
        }
    }
}

@include responsive-desktop {
    .navbar {
        height: px-to-rem(160);
        padding: px-to-rem(10 80 0 150);

        &__logo {
            padding-top: px-to-rem(10);
        }

        &__menu {
            display: none;
        }

        &__links {
            position: static;
            @include flex-center;
            height: inherit;
            width: px-to-rem(480);
            font-size: px-to-rem(16);
            background-color: transparent;
            padding-bottom: px-to-rem(10);
            margin: 0;
            transform: none;
            border: none;
            visibility: visible;
            opacity: 1;
        }

        &__list {
            flex-direction: row;
            flex: 1;
            font-size: px-to-rem(16);
            margin-top: px-to-rem(35);
            margin-left: 0;
        }

        &__actions {
            padding-top: px-to-rem(15);
            flex-direction: row;
            position: static;
            margin: 0;
            transform: none;
            gap: px-to-rem(8);
            width: px-to-rem(250);
            height: px-to-rem(50);
            z-index: $z-index-base;
            visibility: visible;
            opacity: 1;
        }

        &__btns {
            font-size: px-to-rem(15);
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .navbar__links,
    .navbar__btns {
        transition: none;
    }
}
