@use '../abstract' as *;
@use '../components' as *;
@use '../base' as *;

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}
.navbar {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    @include flex-center;
    justify-content: space-between;
    max-width: 1440px;
    background-color: transparent;
    z-index: 1;
    background: $bg-color;

    &__logo {
        z-index: 200;
        padding-left: 0.2em;

        &:focus-visible {
            outline: 2px solid black;
            outline-offset: 2px;
        }
    }

    &__menu {
        @include flex-center;
        height: fit-content;
    }

    &__menu--openicon {
        font-size: 2.5em;
    }

    &__menu--closeicon {
        font-size: 2.5em;
        position: fixed;
        top: 40px;
        right: 20px;
        z-index: 200;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;

        &.active {
            transform: translateX(0%);
        }
    }

    &__links {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $color-secondary-lighter;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        &.active {
            transform: translateX(0%);
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 6rem;
        font-size: 1.7em;
        margin-top: 3em;
        margin-left: 1em;
    }

    &__item {
        color: rgb(78, 78, 78);
        transition: color 0.5s ease;
        font-weight: $font-weight-bold;
        text-decoration: none;
        overflow-y: auto;

        &:hover {
            color: black;
        }
        &:focus-visible {
            outline: 2px solid black;
            outline-offset: 20px;
        }
    }

    &__actions {
        left: 0;
        position: fixed;
        @include flex-center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        bottom: 10%;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        &.active {
            transform: translateX(0%);
        }
    }

    &__btns {
        font-size: 20px;
        width: 90vw;
    }
}

@include responsive-tab {
    .navbar {
        padding: 0 45px 0 65px;
        align-items: center;

        &__logo {
            position: fixed;
            left: 48%;
        }

        &__menu--closeicon {
            position: fixed;
            font-size: 2.5em;
            top: 40px;
            left: 0;
            z-index: 200;
            transform: translateX(-200%);
            transition: transform 0.5s ease-in;

            &.active {
                transform: translateX(-40%);
            }
        }

        &__links {
            transform: translateX(-100%);
            left: 0;
            transition: transform 0.5s ease-in;

            &.active {
                transform: translateX(0%);
            }
        }

        &__list {
            margin-left: 5rem;
        }

        &__actions {
            position: static;
            transform: none;
            flex-direction: row;
            margin: 0;
            gap: 0.5rem;
            width: 250px;
            height: 50px;
            z-index: 0;
            order: 3;
        }

        &__btns {
            font-size: 18px;
        }
    }
}

@include responsive-desktop {
    .navbar {
        height: 10em;
        padding: 10px 80px 0 150px;

        &__logo {
            padding-top: 10px;
        }

        &__menu {
            display: none;
        }

        &__links {
            position: static;
            @include flex-center;
            height: inherit;
            width: 480px;
            font-size: 16px;
            background-color: transparent;
            padding-bottom: 10px;
            margin: 0;
            transform: none;
            border: none;
        }

        &__list {
            flex-direction: row;
            flex: 1;
            font-size: 1em;
        }

        &__actions {
            padding-top: 15px;
            margin-left: 200px;
            flex-direction: row;
            position: static;
            margin: 0;
            transform: none;
            gap: 0.5rem;
            width: 250px;
            height: 50px;
            display: flex;
            flex-direction: row;
            z-index: 0;
        }

        &__btns {
            font-size: 15px;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .navbar__links,
    .navbar__btns {
        transition: none;
    }
}
