@use '../abstract' as *;
@use '../base' as *;

.services {
    text-align: center;
    margin: px-to-rem(40 20 0);

    &__cardcontainer {
        display: flex;
        flex-direction: column;
        margin-top: px-to-rem(18);
    }

    &__card {
        border: 2px solid $color-shadow;
        box-sizing: border-box;
        @include flex-center;
        flex-direction: column;
        margin-top: px-to-rem(16);
        padding: px-to-rem(30 35);
        border-radius: px-to-rem(30);
        height: px-to-rem(280);
        transition:
            box-shadow 0.3s ease,
            transform 0.3s ease;

        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
            transform: scale(1.01);
        }
    }
}

@include responsive-tab {
    .services {
        margin-top: px-to-rem(120);

        &__cardcontainer {
            flex-direction: row;
            justify-content: center;
            gap: px-to-rem(16);
            margin-top: px-to-rem(50);
        }

        &__card {
            width: px-to-rem(288);
            height: px-to-rem(450);
            padding: px-to-rem(65);
        }
    }
}

@include responsive-desktop {
    .services {
        display: flex;
        height: px-to-rem(460);
        margin: px-to-rem(90 90 0 128);

        &__content {
            display: flex;
            flex-direction: column;
            text-align: start;
            padding-top: px-to-rem(145);
        }
        &__heading {
            margin-top: px-to-rem(0);
        }

        &__description {
            margin-top: px-to-rem(0);
        }

        &__cardcontainer {
            flex-direction: row;
            padding: px-to-rem(0 16);
            gap: 1rem;
            margin-top: 0;
        }

        &__card {
            margin: 0;
            height: px-to-rem(450);
            width: px-to-rem(386);
            margin-left: px-to-rem(15);
            padding: px-to-rem(62 0 0);

            & > p {
                padding: px-to-rem(0 65);
            }
        }

        &__card:nth-child(3) {
            display: none;
        }
    }
}
