@use '../abstract/' as *;

.subscribe {
    position: relative;
    margin-top: px-to-rem(58);
    padding: px-to-rem(0 34);

    &__triangle {
        display: none;
    }

    &__header {
        & > h3 {
            margin: px-to-rem(32 0);
        }
    }

    &__input-field {
        margin: px-to-rem(64 0 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: px-to-rem(32);
    }

    &__email-input {
        position: relative;
    }

    &__emailicon {
        position: absolute;
        left: px-to-rem(34);
        top: px-to-rem(28);
        font-size: px-to-rem(18);
    }

    &__input {
        box-sizing: border-box;
        min-height: px-to-rem(72);
        width: 100%;
        border: none;
        padding-left: px-to-rem(72);
        @include font-scale(14);
        font-weight: $font-weight-bold;
        border-radius: px-to-rem(16);
        @include focus;
    }

    &__button {
        width: 100%;
        min-height: px-to-rem(67);
        border-radius: px-to-rem(16);
        @include font-scale(16);
    }
}

@include responsive-tab {
    .subscribe {
        margin-top: px-to-rem(78);
        background-color: #{$color-icon}14;
        border-radius: px-to-rem(32);
        padding: px-to-rem(128 64);

        &__triangle {
            display: block;
            position: absolute;
            top: px-to-rem(-52);
            left: px-to-rem(-36);
        }

        &__header {
            @include flex-center;
            flex-direction: column;
        }

        &__subheading {
            max-width: px-to-rem(700);
        }

        &__emailicon {
            font-size: px-to-rem(24);
            top: px-to-rem(36);
        }

        &__input-field {
            width: 100%;
            flex-direction: row;
            padding: 0;
            gap: px-to-rem(32);
        }

        &__input {
            flex-grow: 1;
            border-radius: px-to-rem(32);
            min-width: px-to-rem(202);
            min-height: px-to-rem(96);
            @include font-scale(23);
            padding-left: px-to-rem(80);
        }

        &__button {
            flex-shrink: 0;
            max-width: px-to-rem(235);
            min-height: px-to-rem(96);
            border-radius: px-to-rem(32);
            @include font-scale(23);
        }
    }
}

@include responsive-desktop {
    .subscribe {
        margin-top: px-to-rem(102);
        background-color: #{$color-icon}14;
        border-radius: px-to-rem(32);
        padding: px-to-rem(128 64 86);

        &__triangle {
            display: block;
            position: absolute;
            top: px-to-rem(-50);
            left: px-to-rem(-2);
            opacity: 0.1;
        }

        &__header {
            @include flex-center;
            flex-direction: column;
        }

        &__subheading {
            max-width: px-to-rem(900);
            @include font-scale(55);
        }

        &__input-field {
            flex-direction: row;
            margin-top: px-to-rem(66);
            gap: px-to-rem(50);
        }

        &__emailicon {
            font-size: px-to-rem(24);
            top: px-to-rem(36);
            left: px-to-rem(48);
        }

        &__input {
            background-color: $color-white;
            min-width: px-to-rem(666);
            border-radius: px-to-rem(32);
            padding-left: px-to-rem(96);
            min-height: px-to-rem(96);
            @include font-scale(23);
        }

        &__button {
            width: px-to-rem(235);
            min-height: px-to-rem(96);
            border-radius: px-to-rem(32);
            @include font-scale(23);
            margin-left: px-to-rem(24);
        }
    }
}
