@use '../abstract' as *;
@use '../components/' as *;

.testimonials {
    z-index: $z-index-base;
    position: relative;
    margin-top: px-to-rem(71);
    &__bg {
        display: none;
    }
}

@include responsive-tab {
    .testimonials {
        margin-top: px-to-rem(128);

        &__bg {
            position: absolute;
            display: block;
            top: px-to-rem(-100);
        }
    }
}

@include responsive-desktop {
    .testimonials {
        margin-top: px-to-rem(40);

        &__bg {
            display: block;
            margin: 0;
            position: absolute;
            top: px-to-rem(-160);
        }
    }
}
