@use '../abstract' as *;
@use '../components/' as *;

.testimonials {
    z-index: $z-index-base;
    position: relative;
    margin-top: px-to-rem(71);
    gap: px-to-rem(64);

    &__bg {
        display: none;
    }
}

@include responsive-tab {
    .testimonials {
        margin-top: px-to-rem(128);
        gap: px-to-rem(54);

        &__bg {
            position: absolute;
            display: block;
            top: px-to-rem(-44);
            left: px-to-rem(-100);
            right: px-to-rem(-100);
        }
    }
}

@include responsive-desktop {
    .testimonials {
        margin-top: px-to-rem(44);
        gap: px-to-rem(56);

        &__header {
            align-items: center;
        }

        &__bg {
            display: block;
            margin: 0;
            position: absolute;
            top: px-to-rem(-272);
            left: px-to-rem(-128);
            right: px-to-rem(-128);
        }
    }
}
