@use '../abstract' as *;
@use '../components/' as *;

.testimonials {
    z-index: 0;
    position: relative;
    text-align: center;
    margin-top: px-to-rem(34);

    &__heading {
        margin-top: 0;
        margin-bottom: px-to-rem(20);
    }

    &__description {
        margin-top: 0;
    }

    &__bg {
        display: none;
    }
}

@include responsive-tab {
    .testimonials {
        margin-top: px-to-rem(120);

        &__bg {
            height: px-to-rem(200);
            display: block;
            position: absolute;
            top: px-to-rem(0);
        }
    }
}

@include responsive-desktop {
    .testimonials {
        margin-top: px-to-rem(24);

        &__bg {
            height: px-to-rem(200);
            display: block;
            position: absolute;
            top: px-to-rem(-80);
        }
    }
}
