@use './fonts' as *;
@use '../abstract' as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: px-to-rem(120);
}
body {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    overflow: hidden;
}

main {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-top: px-to-rem(120);

    @include responsive-desktop {
        padding-top: px-to-rem(160);
    }
}
