@use './fonts' as *;
@use '../abstract' as *;

body {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    overflow: hidden;
}

main {
    position: relative;
    // overflow: hidden;
}
