@use '../abstract' as *;

//Roboto Black
@font-face {
    font-family: 'Roboto';
    src:
        url($font-path + 'Black.woff2') format('woff2'),
        url($font-path + 'Black.woff') format('woff');
    font-weight: $font-weight-black;
    font-style: normal;
    font-display: swap;
}

//Roboto Bold
@font-face {
    font-family: 'Roboto';
    src:
        url('#{$font-path}Bold.woff2') format('woff2'),
        url('#{$font-path}Bold.woff') format('woff');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

//Roboto Regular
@font-face {
    font-family: 'Roboto';
    src:
        url('#{$font-path}Regular.woff2') format('woff2'),
        url('#{$font-path}Regular.woff') format('woff');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}
